@media (max-width: 1240px) {
  .header {
    &__btn {
      margin-right: auto;
    }
  }
  .top {
    &__inner {
      grid-template-rows: 220px 390px;
    }
    &__title {
      font-size: 54px;
    }
    &__image {
      max-width: 80%;
    }
    &__promo {
      background-position: bottom;
      padding-top: 106px;
    }
    &__promo-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    &__promo-text {
      margin-bottom: 10px;
    }
    &__promo-img {
      margin-bottom: 10px;
      max-width: 70%;
    }
    &__promo-btn {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1020px) {
  .top {
    &__inner {
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 200px 350px;
    }
    &__about {
      padding-top: 20px;
    }
    &__title {
      line-height: 1;
    }
    &__slogan {
      padding-left: 60px;  //01.08.28
    }
  }
}

@media (max-width: 920px) {
  .header {
    &__inner {
      justify-content: flex-end;
    }
    &__logo {
      margin-right: auto;
      order: -1;
    }
    &__menu {
      order: -1;
    }
    &__btn {
      margin: 20px 0 0 150px;
    }
  }
  .footer {
    &__btn {
      margin-left: auto;
      margin-top: 20px;
    }
  }
}

@media (max-width: 560px) {
  .header {
    &__btn {
      margin-left: auto;
    }
  }
  .btn {
    padding: 18px 50px;
    font-size: 18px;
  }
  .logo {
    img {
      width: 250px;
    }
  }
  .footer {
    &__inner {
      padding: 50px 10px 22px;
    }
    &__contacts-item {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  }
}
